.services {
    width: 100%;
    background:linear-gradient(rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.685)), url(/src/assets/barbeariafundo.jpg);
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 1.4rem 40px;
    align-items: center;
    text-align: center;
}

.grid-services {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: 300px;
    width: 100%;
    justify-content: center;
}

.corte-infantil,
.barba,
.corte {
    background-color: rgba(8, 8, 8, 0.815);
    font-size: 1.3rem;
    padding: 2rem;
    gap: 50px;
    border: 1px solid rgba(223, 221, 221, 0.247);
    margin-top: 10px;
    line-height: 1.5;
    cursor: pointer;
}

.grid-services h1 {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
}

.grid-services p {
    color: rgb(216, 216, 216);
    font-size: 1.4rem;
    font-weight: 500;
}

.corte-infantil:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.815)), url(/src/assets/corte.jpg);
    background-size: cover;
}

.barba:hover{
    background:linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.815)),url(/src//assets/barba.jpg);
    background-size: cover; 
}

.corte:hover{
    background:linear-gradient(rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.815)),url(/src/assets/corte.jpg);
    background-size: cover;
}


@media(max-width:1039px){
    .services{
        height: auto;
    }
    .grid-services {
        margin-top: 100px;
    }
}